= render '/partials/edit_header'

.tabbable
  %ul.nav.nav-tabs.padding-12.tab-color-blue.background-blue    
    %li.active
      %a{:href => "#basic", "data-toggle"=>"tab"} 基本信息

  .tab-content
    #basic.tab-pane.in.active
      =simple_form_for( @item, url:"#{ace_path @item}", method:"put", wrapper: :horizontal_form, :html => { :class => "form-horizontal product-basic-form", :role => "form", id:"product-form"}) do |f| 

        = f.input:name, required:true
        = f.input:code
        = render '/partials/submit', f:f    
        